.gwangju-covid-body-wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: url("../img/background/Gwangju_covid_img.png.jpg");
  background-size: contain;
  background-position: right;
  background-repeat: no-repeat;
  background-color: #f3f3f3;
}

.gwangju-covid-body {
  display: flex;
  width: 90.1%;
  height: 91.7%;
}
