.gwangju-covid-body-wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.gwangju-covid-body {
  display: flex;
  width: 90.1%;
  height: 91.7%;
}
