.jeonbuk-covid-body-wrapper {
  width: fit-content;
  height: fit-content;
}

.jeonbuk_img {
  width: 100%;
  height: 100%;
}

.jeonbuk-covid-body {
  display: flex;
  width: 90.1%;
  height: 91.7%;
}
